<form action='/links/new' method='post'>
  Title: <input type='text' name='title'/>
  <br>
  url: <input type='text' name='url'/>
  <br>
  Tag: <input type='text' name='tag' />
  <br>
  <input type='submit' value='Save link'/>
</form>
