<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark-o-matic 9000</title>
  </head>

  <body>
    <% if flash[:users] %>
      <%= flash[:users] %>
    <% end %>
    <% if current_user %>
      Welcome <%= current_user.username %>!
    <% end %>
    <%= yield %>
  </body>
</html>
